<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>sociallibrary.registration.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmedRegistration</servlet-name>
        <servlet-class>sociallibrary.registration.ConfirmedRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentication</servlet-name>
        <servlet-class>authentication.authentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmedRegistration</servlet-name>
        <url-pattern>/ConfirmedRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentication</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <resource-ref>
        <res-ref-name>mailSession</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    </web-app>
